/* Babica Bootstrap Responsive */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none;
}
.visible-tablet {
  display: none;
}
.visible-desktop {
  display: block;
}
.hidden-phone {
  display: block;
}
.hidden-tablet {
  display: block;
}
.hidden-desktop {
  display: none;
}
@media (max-width: 767px) {
  section {
    padding-top: 20px;
  }
  .visible-phone {
    display: block;
  }
  .hidden-phone {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
  .navbar {
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar .nav {
    border: none;
    clear: both;
  }
  .navbar-inner {
    height: auto;
  }
  .navbar .nav > li {
    border: none;
    float: none;
  }
  .navbar .nav > li > a,
  .navbar .nav.pull-right > li > a {
    padding: 10px 0;
  }
  .navbar .nav.pull-right {
   float: none;
  }
  .form-inline input[type="text"],
  .form-inline input[type="password"],
  .form-inline select {
    margin-bottom: 10px;
    width: 100%;
  }
  .form-search label, .form-inline label {
    display: inline;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: block;
  }
  .hidden-tablet {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 18px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  h4 {
    margin-top: 18px;
  }
  .table td {
    padding: 4px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-fixed-top {
    margin-left: -15px;
    margin-right: -15px;
  }
  .limit {
    width: auto;
  }
  .limit-fluid {
    padding: 0;
  }
  .row {
    margin-left: 0;
  }
  .row > [class*="grid"],
  .row-fluid > [class*="grid"] {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
  .show-span [class*="grid"] {
    margin-bottom: 5px;
  }
  input[class*="grid"],
  select[class*="grid"],
  textarea[class*="grid"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 28px;
    /* Make inputs at least the height of their button counterpart */
  
    /* Makes inputs behave like true block-level elements */
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input[class*="grid"],
  .input-append input[class*="grid"] {
    width: auto;
  }
  .navbar .name {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="grid"] {
    float: left;
    margin-left: 20px;
  }
  .limit,
  .navbar .limit {
    width: 724px;
  }
  .grid12 {
    width: 724px;
  }
  .grid11 {
    width: 662px;
  }
  .grid10 {
    width: 600px;
  }
  .grid9 {
    width: 538px;
  }
  .grid8 {
    width: 476px;
  }
  .grid7 {
    width: 414px;
  }
  .grid6 {
    width: 352px;
  }
  .grid5 {
    width: 290px;
  }
  .grid4 {
    width: 228px;
  }
  .grid3 {
    width: 166px;
  }
  .grid2 {
    width: 104px;
  }
  .grid1 {
    width: 42px;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  input.grid12, textarea.grid12, .uneditable-input.grid12 {
    width: 714px;
  }
  input.grid11, textarea.grid11, .uneditable-input.grid11 {
    width: 652px;
  }
  input.grid10, textarea.grid10, .uneditable-input.grid10 {
    width: 590px;
  }
  input.grid9, textarea.grid9, .uneditable-input.grid9 {
    width: 528px;
  }
  input.grid8, textarea.grid8, .uneditable-input.grid8 {
    width: 466px;
  }
  input.grid7, textarea.grid7, .uneditable-input.grid7 {
    width: 404px;
  }
  input.grid6, textarea.grid6, .uneditable-input.grid6 {
    width: 342px;
  }
  input.grid5, textarea.grid5, .uneditable-input.grid5 {
    width: 280px;
  }
  input.grid4, textarea.grid4, .uneditable-input.grid4 {
    width: 218px;
  }
  input.grid3, textarea.grid3, .uneditable-input.grid3 {
    width: 156px;
  }
  input.grid2, textarea.grid2, .uneditable-input.grid2 {
    width: 94px;
  }
  input.grid1, textarea.grid1, .uneditable-input.grid1 {
    width: 32px;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-fixed-top {
    position: static;
    margin-bottom: 18px;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 5px;
  }
  .navbar .limit {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .navbar .nav-collapse {
    clear: left;
    display: none;
    height: auto;
  }
  .navbar .nav,
  .navbar .nav.pull-right {
    border: none;
    float: none;
  }
  .navbar .nav.pull-right {
    border-top: 1px solid #444444;
  }
  .navbar .nav > li {
    border: none;
    float: none;
  }
  .navbar .nav > li > a {
    margin-bottom: 2px;
  }
  .navbar .nav > .divider-vertical {
    display: none;
  }
  .navbar .nav .nav-header {
    color: #999999;
    text-shadow: none;
  }
  .navbar .nav > li > a,
  .navbar .nav.pull-right > li > a {
    font-weight: bold;
    padding: 9px;
  }
  .navbar .navbar-inner {
    padding: 5px 15px;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-navbar {
    display: block;
  }
  .nav-collapse {
    overflow: hidden;
    height: 0;
  }
  .icon-navbar {
    border-radius: 1px;
    background-color: #CCCCCC;
    display: block;
    height: 2px;
    width: 20px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
  }
  .btn-navbar .icon-navbar + .icon-navbar {
    margin-top: 3px;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="grid"] {
    float: left;
    margin-left: 30px;
  }
  .limit,
  .navbar .limit {
    width: 1170px;
  }
  .grid12 {
    width: 1170px;
  }
  .grid11 {
    width: 1070px;
  }
  .grid10 {
    width: 970px;
  }
  .grid9 {
    width: 870px;
  }
  .grid8 {
    width: 770px;
  }
  .grid7 {
    width: 670px;
  }
  .grid6 {
    width: 570px;
  }
  .grid5 {
    width: 470px;
  }
  .grid4 {
    width: 370px;
  }
  .grid3 {
    width: 270px;
  }
  .grid2 {
    width: 170px;
  }
  .grid1 {
    width: 70px;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  input.grid12, textarea.grid12, .uneditable-input.grid12 {
    width: 1160px;
  }
  input.grid11, textarea.grid11, .uneditable-input.grid11 {
    width: 1060px;
  }
  input.grid10, textarea.grid10, .uneditable-input.grid10 {
    width: 960px;
  }
  input.grid9, textarea.grid9, .uneditable-input.grid9 {
    width: 860px;
  }
  input.grid8, textarea.grid8, .uneditable-input.grid8 {
    width: 760px;
  }
  input.grid7, textarea.grid7, .uneditable-input.grid7 {
    width: 660px;
  }
  input.grid6, textarea.grid6, .uneditable-input.grid6 {
    width: 560px;
  }
  input.grid5, textarea.grid5, .uneditable-input.grid5 {
    width: 460px;
  }
  input.grid4, textarea.grid4, .uneditable-input.grid4 {
    width: 360px;
  }
  input.grid3, textarea.grid3, .uneditable-input.grid3 {
    width: 260px;
  }
  input.grid2, textarea.grid2, .uneditable-input.grid2 {
    width: 160px;
  }
  input.grid1, textarea.grid1, .uneditable-input.grid1 {
    width: 60px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
}
