/* ==========================================================================
   Default styles
   ========================================================================== */

body {
    color: #444;
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: $LINK_COLOR;
}

a:hover {
    color: $LINK_COLOR_HOVER;
    background-color: $LINK_BG_COLOR_HOVER;
}