/*********************************************************************
*
*  Config Module
*  Babica
*  
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/

/* ==========================================================================
   Sizes
   ========================================================================== */

$INNER_CONTENT: 1000px;

/* ==========================================================================
   Colors
   ========================================================================== */

$BACKGROUND_COLOR: #e5e5e5;

$LINK_COLOR: #cc0000;
$LINK_COLOR_HOVER: #fff;
$LINK_BG_COLOR_HOVER: #cc0000;

$SITE_HEADER_TEXT_COLOR: #fff;